.home-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.347);
}

.form-container {
    height: 320px;
    width: 330px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    padding: 5px 30px;
    /* border: 1px solid grey; */
    box-shadow: 10px 13px 30px 1px #1111112a;
    background-color: white;
}

.heading {
    font-size: 1.6rem;
    color: #000080;
    margin-right: auto;
}

.sub-heading {
    font-size: 0.9rem;
    color: #000080;
    font-weight: 600;
    margin-right: auto;
}

.form-input {
    padding: 6px;
    font-size: 1rem;
    border-radius: 3px;
    background-color:rgba(128, 128, 128, 0.403);
    outline: none;
    border: none;
    margin: 10px 0px;
}

.join-btn {
    width: 100px;
    padding: 5px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #000080;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-top: 16px;
}

.newroom-link {
    font-size: 0.9rem;
    margin-top: 20px;
    font-weight: 600;
    color: rgb(128 128 128 / 80%);
}

.newroom-link a {
    color: #000080;
}